#container{
	/*z-index: 3000;*/
	position: relative;
	margin-top: 0px;
	margin-left: 15px;
}

#name{
	z-index: 2000;
	margin-top: 0px;
	color: white;
	font-family: helvetica;
	font-weight: light;
}

.cell {
	z-index: 5000;
	width: 70px;
	height: 70px;
	margin: 1px;
	background-size: 450%;
	background-position: center;
	transition: all 1s ease-in-out;
	opacity: 0.1;
	display: block;
	float: left;
}

.cell:hover{
	opacity: 0.92 !important;
	transform: scale(4.5);
	background-size: 100%, 100%;
}

canvas{
	margin-top: -420px;
	z-index: 0;
}